* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

header, footer {
    background: #1F2937;
    font-size: 18px;
    color: #E5E7E8;
    flex: 1;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    color: #E5E7E8;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    display: flex;
    list-style-type: none;
}

.sec-one {
    background: #1F2937;
    font-size: 18px;
    color: #E5E7E8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 4;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    display: flex;
    width: 300px;
}

.text {
    width: 400px;
}

.img {
    padding: 80px;
    background: grey;
}

.sec-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 4;
}

h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    display: flex;
}

.row-con {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 750px;
}

.rcb {
    border-radius: 15px;
    border: 2px solid #3882F6;
    padding: 20px;
    width: 100px;
    height: 75px;
}

.desc {
    width: 130px;
}

.sec-three {
    background: #E5E7EB;
    font-size: 20px;
    font-style: italic;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 4;
}

.quote {
    width: 430px;
}

.sec-four {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 4;
}

.cta {
    background: #3882F6;
    pading: 24px 64px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}
